* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 5px;
}

body {
  font-family: sans-serif;
  color: white;
}

form {
  margin: 20px auto;
  width: 37%;
  padding: 15px 20px;
  background-color: rgb(0, 166, 249);
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 900;
}

form > p {
  width: 70%;
  text-align: center;
}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  margin-top: 10px;
}

.inputs-wrapper > input {
  width: calc((100% - 20px) / 2);
  padding: 20px 10px;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
}

.inputs-wrapper > input::placeholder {
  font-size: 16px;
  color: rgb(169, 169, 169);
}

.radio-wrapper {
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 10px;
}

.radio-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.radio-content > label {
  font-size: 16px;
  font-weight: bold;
}

.radio-text {
  font-size: 13px;
}

.checkbox-wrapper {
  width: 100%;
  display: flex;
  padding: 5px 15px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper > label {
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.6px;
}

.checkbox-wrapper > input {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
}

button {
  width: 100%;
  padding: 15px 10px;
  background-color: rgb(0, 208, 163);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
